<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p: %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FLEXTUMA_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p: %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="DB" class="com.flexcodelabs.flextuma.core.logging.DatabaseLogAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="FLEXTUMA" level="INFO" additivity="false">
        <appender-ref ref="FLEXTUMA_CONSOLE" />
    </logger>

    <!-- Turn off ALL verbose loggers except SQL for debugging -->
    <logger name="o" level="OFF"/>
    <logger name="org" level="OFF"/>
    <logger name="com" level="OFF"/>
    <logger name="c" level="OFF"/>
    <logger name="r" level="OFF"/>
    <logger name="." level="OFF"/>
    <logger name="o.s" level="OFF"/>
    <logger name="o.a" level="OFF"/>
    <logger name="o.s.w" level="OFF"/>
    <logger name="o.s.w.s" level="OFF"/>
    <logger name="o.s.b" level="OFF"/>
    <logger name="o.s.b.t" level="OFF"/>
    
    <!-- Enable JPA/Hibernate logging for debugging -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG"/>
    <logger name="org.hibernate.schema" level="DEBUG"/>
    <logger name="org.springframework.orm.jpa" level="DEBUG"/>
    
    <logger name="c.f" level="OFF"/>
    <logger name="c.f.f" level="OFF"/>
    <logger name="c.f.f.c" level="OFF"/>
    <logger name="c.f.f.core" level="OFF"/>
    <logger name="c.f.f.core.s" level="OFF"/>
    <logger name="c.f.f.core.services" level="OFF"/>
    <logger name="c.f.f.core.services.SecurityLogService" level="OFF"/>
    <logger name=".m.m.a.ExceptionHandlerExceptionResolver" level="OFF"/>
    <logger name="m.m.a.ExceptionHandlerExceptionResolver" level="OFF"/>

    <root level="OFF">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="DB" />
    </root>
</configuration>
